body {
    background-image: url(persib.jfif);
    background-position: center center;
    background-size: 30%;
}
.container {
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-image: url(ria.png);
}

#main,
#footer {
    width: 600px;
    margin: 0 auto;
}
#header {
    background-color: rgb(89, 206, 245);
    font-family: 'forte';
}

#nav {
    background-color: rgba(0, 61, 61, 0.2);
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
}

#nav a{
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(2, 19, 44);

    font-family: 'ink free';
}

.clear {
    clear: both;
}

#content {
    box-sizing: border-box;
    float: left;
    width: 400px;
    padding-right: 20px;
}

from label,
form input {
    display: block;
    width: 100%;
    line-height: 2em;
    box-sizing: border-box;
}

#sidebar {
    float: right;
    width: 200px;
}

#footer {
    border-top: 1px solid grey;
    text-align: center;
}

#foother p {
    padding: 0;
    margin: 0;
}

